/* css/style.css */

/* Efekt 3D plátna */
.cinema-screen {
    height: 100px;
    width: 100%;
    background-color: #fff;
    /* 3D transformace */
    transform: perspective(1000px) rotateX(-15deg) scale(0.9);
    box-shadow: 0 60px 50px -10px rgba(111, 235, 246, 0.15);
    opacity: 0.8;
    border-radius: 12px;
    margin-bottom: 30px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.1) 100%);
    transition: all 0.5s ease;
}

/* Scrollbar styling (pro webkit prohlížeče - Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #102122; 
}
::-webkit-scrollbar-thumb {
    background: #234548; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #6febf6; 
}

/* Třídy pro stavy sedadel (použijeme je v JS) */
.seat-item {
    transition: all 0.2s;
    cursor: pointer;
}

.seat-item:hover {
    transform: scale(1.2);
}

.seat-occupied {
    opacity: 0.9;
    cursor: not-allowed;
    text-shadow: 0 0 5px rgba(255,255,255,0.5);
    
}

/* Pokud je sedadlo vybrané, přidáme mu záři (tohle se aplikuje spolu s Tailwind třídami) */
.seat-selected {
    opacity: 1;
    text-shadow: 0 0 5px rgba(111,235,246,0.5);
}